


:root{
  --math:rgba(0, 0, 0,0.05);
  --gray:#A0A0A0;
  --maxwidth:720px;
  --paperpad:40px;
}






.key,.math,.open-children{
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 300;
  font-style: normal;
}
.open-children{
  color: var(--tabscolor);
  /* border-bottom:1px solid #3DEA5A; */
  /* margin-left: 5px; */
  cursor:pointer;
}

.math{
  background-color: var(--math);
  padding: 1px 2px;
  border-radius: 5px;
}

table{
  background-color: var(--math);
  padding:3px;
  border-radius: 5px;
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 300;
}


.fnlist{
  margin-bottom:10px;
}
.fnlist tr>td:nth-child(7){
  border-left: 0px solid black !important;
  padding-left: 0px;
}

.fnlist td{
  padding-top:10px;
  padding-bottom:10px;
  border-bottom: 1px solid black;
}
.fnlist td:not(.centertight):not(.lefttight):not(.righttight){
  padding-left: 10px;
  padding-right:10px;
  border-left: 1px solid black;
  /* text-align: center; */
}
.righttight {
  padding-left: 10px;
}



.math>.math{
  background-color:rgba(0,0,0,0);
  padding:0px;
  border-radius: 0px;
}

p{
  font-family: "Signifier",aktiv-grotesk,sans-serif;
  font-weight: 300;
  margin-bottom:10px;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

em{
  font-style: italic;
}
sup{
  vertical-align: super;
  font-size: smaller;
}

/* outer layout --------------*/

#pagewrap{
  z-index:5;
  position:relative;
  top:79px;
  transition:top 0.6s;
  overflow:hidden;
  border-top:1px solid var(--gray);
  left:0;
  width:100vw;
  height:100vh;
  display:flex;
  flex-flow: row nowrap;
  font-family: 'Signifier';
  background-color:white;
  /* typography */
  font-size:25px;
  line-height: 32px;
}


.sheet{
  height:100%;
  flex:1;
  box-shadow: 5px 0px 23px 0px rgba(0, 0, 0, 0.15);
  /* display:none; */
  padding:var(--paperpad);
  padding-top:60px;
  padding-bottom:20px;
  box-sizing: border-box;
  overflow:scroll;
  max-width: var(--maxwidth);
  transition:max-width 0.5s;
  position:relative;
}

.prev{
  max-width: 40px;
}
.prev .prop{
  opacity:0;
  pointer-events: none;
}

/* .sheet .prop:last-child{
  padding-bottom: 60px;
} */

.visible ~ .sheet:not(.visible){
  display:none;
}

/* .sheet:not(.visible ~ .sheet){
  background-color:green;
} */


#d0{
  display:none;
  max-width:0px;
  padding-right: 0px;
  padding-left:0px;
}
#d0.visible{
  display:block;
}
#d0.expand{
  padding-right: var(--paperpad);
  padding-left:var(--paperpad);
  max-width:var(--maxwidth);
}

.tab{
  position:absolute;
  right:0;
  top:0;
  transform:rotate(-90deg);
  transform-origin: bottom right;
  height:40px;
  /* box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.1); */
  background-color: rgba(0,0,0,0.1);
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
  padding-right:10px;
  padding-left:10px;
  opacity:0;
  transition:opacity 0.3s;
  transition-delay: 0.5s;
}
.prev .tab{
  opacity:1;
}


/* sheet elements --------- */

#p0 p{
  display:inline;
}

::-webkit-scrollbar {
  display: none;
}
.prop{
  margin-bottom: 30px;
  min-width:400px;
  float:right;
  width:100%;
  transition: opacity 0.2s;
  transition-delay: 0.1s;
}
.parent{
  /* cursor:pointer; */
}

/* media queries ------*/

@media(hover:hover){
  .prev:hover{
    max-width: 200px;
  }
  .prev:hover .prop{
    opacity:1;
  }
}

@media(max-width:800px){
  #header-bar{
    width:100vw;
    left:0;
    transform:translate(0%,-50%);
    /* padding-bottom:40px; */
  }
  #header-bar.minimized{
    width:auto;
  }
  #window-minmax{
    left:calc(50% - 20px);
    top:auto;
    bottom:-20px;
  }
}

@media(max-width:600px){
  :root{
    --paperpad:20px;
  }
  #pagewrap{
    font-size:18px;
    line-height: 25px;
  }
  #title{
    width: 90vw;
  }
  .prop{
    min-width:300px;
  }
  .prev{
    padding-left: 0px;
    padding-right:0px;
    max-width: 0px;
  }

}

/* inherited --------*/

div.centeredsqueeze {
    line-height: 0.7;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}


#p6-3-6-1-1-1 .noindent{
  margin: 20px 0px;
  padding: 10px;
  white-space: nowrap;
}

.nudgedown{
  vertical-align: -0.2ex;
}


.possibilities{
  display: inline-table;
  vertical-align: middle;
  border-collapse: collapse;
  border: none;
  margin: 0px;
  padding: 0px;
  text-indent: 0px;
}
td.summationtop {
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 0px;
}
td.middleleft{
    vertical-align: middle;
}
td.middleright {
    vertical-align: middle;
    text-align: right;
}
span.largeparen {
    font-size: 250%;
    vertical-align: middle;
}
td.middlecenter {
    vertical-align: middle;
    text-align: center;
}
td.summationmiddle {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
.smallvar {
    font-size: 80%;
}
span.largeop {
    font-size: 200%;
}
var{
  padding-right: 2px;
}
.mathrel,.mathop{
  /* margin-left: 3px;
  margin-right: 3px; */
  padding-bottom: 4px;
  display: inline-block;
}
.centered{
  text-align: center;
}
.sfmiddle{
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
