


:root{
  --gray:rgba(0, 0, 0,0.05);
}

/* typography----------- */
body{
  font-size:25px;
  line-height: 30px;
}

/* .sheet{
  font-size:25px;
  line-height: 30px;
} */



.key,.math,.open-children{
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 300;
  font-style: normal;
}
.open-children{
  color: #3DEA5A;
  /* border-bottom:1px solid #3DEA5A; */
  margin-left: 5px;
  cursor:pointer;
}

.math{
  background-color: var(--gray);
  padding:3px;
  border-radius: 5px;
}

table{
  background-color: var(--gray);
  padding:3px;
  border-radius: 5px;
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 300;
}

.math>.math{
  background-color:rgba(0,0,0,0);
  padding:0px;
  border-radius: 0px;
}

p{
  font-family: "Signifier Test",aktiv-grotesk,sans-serif;
  font-weight: 300;
  margin-bottom:10px;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

em{
  font-style: italic;
}
sup{
  vertical-align: super;
  font-size: smaller;
}

/* header window -------- */
#header-bar{
  position:fixed;
  display:inline-block;
  padding:20px;

  /* cursor:move; */
  /* border-radius:10px; */
  left:50vw;
  top:50vh;
  transform:translate(-50%,-50%);
  box-sizing: border-box;
  text-align: center;
}

#header-bar p,svg,span{
  position:relative;
  z-index:10;
}
#header-bar .math{
  padding-left: 6px;
  padding-right: 6px;
  position:absolute;
  bottom:0px;
  right:0;
  cursor:pointer;
  opacity:0;
  width:0;
}

#head-background{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: white;
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.23);
  z-index:3;
}

#title{
  width: min(max(77vw,616px),900px);
}

#header-bar p{
  text-align: center;
  margin-top:10px;
  margin-bottom: 20px;
}

#window-minmax{
  font-family: aktiv-grotesk,sans-serif;
  font-size:30px;
  font-weight: 300;
  padding-top:2px;
  position:absolute;
  z-index:4;
  top:-20px;
  left:-20px;
  border-radius: 50%;
  background-color: #F6FFCC;
  box-sizing: border-box;
  width: 40px;
  height:40px;
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.1);
  cursor:pointer;
}

#header-bar.minimized{
  top:10px;
  left:30px;
  transform:translate(0%,0%);
  display:flex;
  flex-flow: row nowrap;
  border-radius: 20px;
  padding:10px;
}

#header-bar.minimized #window-minmax{
  top:5px;
  left:-30px;
  background-color: white;
}

#header-bar.minimized #head-background{
  border-radius: 20px;
}

#header-bar.minimized p{
  margin-top:0px;
  margin-bottom:0px;
  margin-right: 10px;
  white-space: nowrap;
}
#header-bar.minimized p::before{
  content:'Tractatus | ';
}

#header-bar.minimized .math{
  position:relative;
  display:inline-block;
}

#header-bar.minimized svg{
  display:none;
}

/* outer layout --------------*/



#fixed-wrapper{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  display:flex;
  flex-flow: row nowrap;
}


.sheet{
  height:100%;
  flex:1;
  box-shadow: 5px 0px 23px 0px rgba(0, 0, 0, 0.15);
  /* display:none; */
  padding:40px;
  padding-top:100px;
  padding-bottom:20px;
  box-sizing: border-box;
  overflow:scroll;
  max-width: 720px;
  transition:max-width 0.5s;
}

.prev{
  max-width: 40px;
}
.prev .prop{
  opacity:0;
  pointer-events: none;
}

/* .sheet .prop:last-child{
  padding-bottom: 60px;
} */

.visible ~ .sheet:not(.visible){
  display:none;
}

/* .sheet:not(.visible ~ .sheet){
  background-color:green;
} */


#d0{
  display:none;
}

/* sheet elements --------- */

::-webkit-scrollbar {
  display: none;
}
.prop{
  margin-bottom: 30px;
  min-width:400px;
  float:right;
  width:100%;
  transition: opacity 0.2s;
  transition-delay: 0.1s;
}
.parent{
  /* cursor:pointer; */
}

/* media queries ------*/

@media(hover:hover){
  .prev:hover{
    max-width: 200px;
  }
  .prev:hover .prop{
    opacity:1;
  }
}

@media(max-width:800px){
  #header-bar{
    width:100vw;
    left:0;
    transform:translate(0%,-50%);
    /* padding-bottom:40px; */
  }
  #window-minmax{
    left:calc(50% - 20px);
    top:auto;
    bottom:-20px;
  }
}

@media(max-width:600px){
  body{
    font-size:18px;
    line-height: 25px;
  }
  #title{
    width: 90vw;
  }
  .sheet{
    padding:20px;
  }
  .prop{
    min-width:300px;
  }

}

/* inherited --------*/

.possibilities{
  display: inline-table;
  vertical-align: middle;
  border-collapse: collapse;
  border: none;
  margin: 0px;
  padding: 0px;
  text-indent: 0px;
}
td.summationtop {
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 0px;
}
td.middleleft{
    vertical-align: middle;
}
td.middleright {
    vertical-align: middle;
    text-align: right;
}
span.largeparen {
    font-size: 250%;
    vertical-align: middle;
}
td.middlecenter {
    vertical-align: middle;
    text-align: center;
}
td.summationmiddle {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
.smallvar {
    font-size: 80%;
}
span.largeop {
    font-size: 200%;
}

.mathrel,.mathop{
  padding-bottom: 4px;
  display: inline-block;
}
.centered{
  text-align: center;
}
.sfmiddle{
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* font links -------*/

@font-face {
  font-family: "Signifier Test";
  font-weight: 400;
  src: url("../fonts/signifier-test-regular.woff") format("woff");
}

@font-face {
  font-family: "Signifier Test";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/signifier-test-regular-italic.woff") format("woff");
}
@font-face {
  font-family: "Signifier Test";
  font-weight: 300;
  src: url("../fonts/signifier-test-light.woff") format("woff");
}

@font-face {
  font-family: "Signifier Test";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/signifier-test-light-italic.woff") format("woff");
}
