/* font links -------*/

@font-face {
  font-family: "Signifier Test";
  font-weight: 400;
  src: url("../fonts/signifier-test-regular.woff") format("woff");
}

@font-face {
  font-family: "Signifier Test";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/signifier-test-regular-italic.woff") format("woff");
}
@font-face {
  font-family: "Signifier Test";
  font-weight: 300;
  src: url("../fonts/signifier-test-light.woff") format("woff");
}

@font-face {
  font-family: "Signifier Test";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/signifier-test-light-italic.woff") format("woff");
}
